
/****************************************
*               LESS VARS            */
/***************************************/

@base-assets-url :'/assets/';
@base-img-url :'@{base-assets-url}img/';
@base-icon-url :'@{base-img-url}icons/';

@smalldevice-breakpoint: 768px;
@xsmalldevice-breakpoint: 480px;

/* general Color vars */
@separtor-fill-color: #edeff1;
@information-off-color: #e3ebf3;
@information-on-color: #8cb4dd;
@i-dont-know1-color: #5286ad;
@off-button-white-bg-color: #abbac9;
@i-dont-know2-color: #71889f;
@off-button-blue-bg-color: #4e6881;
@bg-picto-document-color: #253c52;
@on-button-color: #172f45;
@delete-button-color: #e74c3c;
@font-color: #2f2f2f;
@bg-main-color:#fff;
@border-color:#f0f0f0;
@bg-btn-dark:#263c53;
@bg-btn-light:#8db4dd;
@bg-btn-extra-light:#e2ecf6;

@font-color: #2f2f2f;
@font-white: #ffffff;
@font-darkblue: #122436;
@font-darkgrey: #454545;

@background-field: #f9f3ec;

@background-white: #ffffff;
@background-black: #353535;
@background-gray: #595858;
@background-red-dark: #d1463c;
@background-red-bright: #e74b3a;
@background-yellow-bright: #f8c97a;
@background-yellow-dark: #F7BB54;
@background-blue: #5aa3ce;
@background-blue-dark: #4b98ba;

@button-red:#b53629;
@button-red-hover:#e2574c;


/*BT MAR*/
@margin-top15:15px;
@margin-right15:15px;
@margin-bottom15:15px;
@margin-left15:15px;

/*BT PAD*/
@padding-top15:15px;
@padding-right15:15px;
@padding-bottom15:15px;
@padding-left15:15px;

/* navbar colors */
@navbar-backcolor: #18293b;
@navbar-color: @separtor-fill-color;
@navbar-bordercolor: @separtor-fill-color;
@navbar-titlecolor: @separtor-fill-color;
@navbar-menucolor: #ba8708;

/*Profile colors*/
@profile-skin-default:@font-white;/*white*/
@profile-skin-yellow:#ffc105;/*Yellow*/
@profile-skin-green-dark:#17ada8;/*Dark green*/
@profile-skin-red:#d65b01;/*Red*/
@profile-skin-pink:#e14b88;/*Pink*/
@profile-skin-green:#6aaa01;/*Green*/

/*****************************************
* Override bootstrap classes
******************************************/
.form-horizontal .form-group {
  /*  margin-right: 0;
    margin-left: 0;*/
}
.form-horizontal .control-label {
   /* text-align:left;*/
    }
 .form-group {
    float: left;
    width: 100%;
} 
.right-to-left li { float: right; } 
.btn.focus, .btn:focus, .btn:hover {color:@font-white;} 
#col-center .btn.block {line-height:32px;}
/****************************************
*      generic usefull classed          */
/***************************************/

/* Margin */
.mrg0T {  margin-top:0px;  }
.mrg0R {  margin-right:0px;  }
.mrg0B {  margin-bottom:0px;  }
.mrg0L {  margin-left:0px;  }
.mrg5T {  margin-top:5px;  }
.mrg5R {  margin-right:5px;  }
.mrg5B {  margin-bottom:5px;  }
.mrg5L {  margin-left:5px;  }
.mrg10T {  margin-top:10px;  }
.mrg10R {  margin-right:10px;  }
.mrg10B {  margin-bottom:10px;  }
.mrg10L {  margin-left:10px;  }
.mrg15T {  margin-top:15px;  }
.mrg15R {  margin-right:15px;  }
.mrg15B {  margin-bottom:15px;  }
.mrg15L {  margin-left:15px;  }
.mrg20T {  margin-top:20px;  }
.mrg20R {  margin-right:20px;  }
.mrg20B {  margin-bottom:20px;  }
.mrg20L {  margin-left:20px;  }
.mrg25T {  margin-top:25px;  }
.mrg25R {  margin-right:25px;  }
.mrg25B {  margin-bottom:25px;  }
.mrg25L {  margin-left:25px;  }
.mrg0A {margin:0;}

/* padding */
.pad0T {  padding-top:0px;  }
.pad0R {  padding-right:0px;  }
.pad0B {  padding-bottom:0px;  }
.pad0L {  padding-left:0px;  }

.pad5T {  padding-top:5px;  }
.pad5R {  padding-right:5px;  }
.pad5B {  padding-bottom:5px;  }
.pad5L {  padding-left:5px;  }
.pad10T {  padding-top:10px;  }
.pad10R {  padding-right:10px;  }
.pad10B {  padding-bottom:10px;  }
.pad10L {  padding-left:10px;  }
.pad15T {  padding-top:15px;  }
.pad15R {  padding-right:15px;  }
.pad15B {  padding-bottom:15px;  }
.pad15L {  padding-left:15px;  }
.pad20T {  padding-top:20px;  }
.pad20R {  padding-right:20px;  }
.pad20B {  padding-bottom:20px;  }
.pad20L {  padding-left:20px;  }
.pad25T {  padding-top:25px;  }
.pad25R {  padding-right:25px;  }
.pad25B {  padding-bottom:25px;  }
.pad25L {  padding-left:25px;  }
.pad0A {padding:0;}

.full-width {
    float:left;
    width:100%;
    clear:both;    
}

.custorHand {
    cursor:pointer;
}
.center {
    display: block;
    width:250px;
    margin-left: auto;
    margin-right: auto;
}
.vertical-line-middle {
    background: transparent url('/assets/img/backgrounds/grey_pixel.png') repeat-y center;
}

.text-bold {font-weight:bold;}
.skin-default .img-wrap { background:@profile-skin-default;}
.skin-yellow .img-wrap {background:@profile-skin-yellow;}
.skin-dark-green .img-wrap {background:@profile-skin-green-dark;}
.skin-red .img-wrap {background:@profile-skin-red;}
.skin-pink .img-wrap {background:@profile-skin-pink;}
.skin-green .img-wrap {background:@profile-skin-green;}
.circle(@size: 140px) {display:table-cell;	vertical-align:middle; text-align:center; border-radius:100%; -webkit-border-radius:100%; width:@size; height:@size;}
.table {border: 1px solid #ddd; border-top: none; }
th {background:@bg-picto-document-color; color:@font-white; font-size:13px; text-transform: capitalize;}
.table>thead>tr>th {border-bottom:none; text-transform:capitalize;}
.fa {font-weight:normal}
.text-white {color:@font-white;}
.text-dark {color:@font-darkblue;}
.text-gray {color:@font-darkgrey;}
.align-left {text-align:left;}
.align-center {text-align:center;}
.align-right {text-align:right;}

.icon-xs {font-size:16px;}
.icon-sm {font-size:20px;}
.icon-md {font-size:24px;}
.icon-lg {font-size:32px;}

.hide-text {display:block; text-align:left; text-indent:-999em;}

.min-height350 {min-height:370px;}

/*All icons */
.icon {
    .hide-text;
    display:block;
    height:35px;
    width:27px;
    float:left;
    margin-right:5px;
}
.icon.no-docs {
    .icon;
    text-indent:0px;
    color:@bg-btn-light;
    .fa {
        color:@bg-btn-light;
        font-size:28px;
        }
}
.xls,.xlsx,.ods { .icon; background: url('@{base-icon-url}icon-excel.png') no-repeat; }
.pdf { .icon; background: url('@{base-icon-url}icon-pdf.png') no-repeat; }
.ppt,.pptx,.odp { .icon; background: url('@{base-icon-url}icon-ppt.png') no-repeat; }
.doc,.docx,.odt { .icon; background: url('@{base-icon-url}icon-word.png') no-repeat; }
.video { .icon; background: url('@{base-icon-url}icon-video.png') no-repeat; }

.star {
    .hide-text;
    height:14px;
    width:14px;
    }
.star.off {
    background: url('@{base-icon-url}icon-star-off.png') no-repeat;
}
.star.on {
    background: url('@{base-icon-url}icon-star-on.png') no-repeat;
}
.favourite {
    background: url('@{base-icon-url}icon-star-off.png') no-repeat;
}

body {
    padding-top: 65px;
    padding-bottom:55px;
    font-family: "verdana", "arial";
    height: 100%;
	/*background-color:@information-off-color;*/
	background:@background-blue-dark;
}

/****************************************
*               Main content            */
/***************************************/
.maincontent {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top:20px;
}

@media (min-width: @smalldevice-breakpoint) {
    .maincontent {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .maincontent {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .maincontent {
        width: 1170px;
    }
}
/****************************************
*                   Navbar                */
/***************************************/
.navbar {
	min-height:50px;
	background:@background-black;
	}
.navbar-brand {
	background:@background-yellow-bright;
	height:50px;
	color:@background-black !important;
	padding:5px 15px;
	&:hover {
		background:@background-yellow-bright;
		color:@background-white !important;
	}

}
.navbar-right>li.dropdown>a {text-transform:capitalize;}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:active,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:active {
    color: #fff;
    background-color: @background-red-dark;
	}

/****************************************
*            Notifications             */
/***************************************/


.notification-area {
    li a{color:#333333;text-decoration:none}
    li a:hover{color:#006699;text-decoration:none}

    #notification_li{position:relative}
    #notificationContainer {
        background-color: @bg-picto-document-color;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 60px;
        right: 0;
        width: 280px;
        z-index: -1;
        display: none;
    }
    #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent @on-button-color;
        margin-top: -20px;
        margin-left: 120px;
        @media (max-width: 768px) {
            margin-left: 164px;
        }
        @media (max-width: 480px) {
            margin-left: 174px;
        }

    }
    #notificationTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
        background-color: @on-button-color;
        color:@navbar-bordercolor;
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }
    #notificationsBody {
        padding: 0 !important;
        min-height:300px;
        color:@navbar-bordercolor;
    }
    #notificationFooter {
        background-color: @on-button-color;
        color:@navbar-bordercolor;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        font-size: 12px;
        border-top: 1px solid #dddddd;
    }
    .notification-list {
        list-style:none;margin: 0px;
        padding: 0px;
        li {
            padding: 10px;
            align-content: left;
            background-color: @i-dont-know2-color;
            color: @off-button-white-bg-color;
        }
        li.unread {
            background-color: @i-dont-know1-color;
            color: @font-color;
        }
        li:hover {
            color:@font-white;
        }
    }
}
/****************************************
*            Footer                     */
/***************************************/
#footer {
	background:@background-black;
    bottom:0;
	line-height:28px;
	color:@font-white;
	font-size:12px;
    left:0;
	text-transform:uppercase;
    position:fixed;
    width:100%;
	a {
		color:@font-white;
		&:hover {
		text-decoration:underline;
		}
		}
	}

/****************************************
*            Login Page                */
/***************************************/
body.Login {
	background: url('@{base-img-url}bg-login-page.png') no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;	
	}
.login-box {
    background: url('@{base-img-url}trans-white.png');
    max-width: 320px;
    width: 100%;
    margin: 5% auto 0;
    display: block;
    float: none;
    .form-control-feedback {
    top:5px;
    .bottom {
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    }
	.btn btn-primary block {
		margin-bottom:10px;
	}    
}
}	
.bg-main {
	background:@bg-main-color;
	}
.login-box-body {
/*	.bg-main;*/
	padding:1px 0 20px;	
	}
/****************************************
			Breadcrumbs                */
/***************************************/	
#breadcrumbs-wrapper {
    .bg-main;
    line-height:40px;
    margin-bottom:20px;
	ul {
		li {
			display:inline;
			line-height:40px;
			
			a {line-height:40px;}
		}
	}	
}
/****************************************
			Left Column                */
/***************************************/	
.block {
	.mrg20B;
    width:100%;
	ul {
        list-style:none;
        margin:0;
        padding:10px;
        li.inline {
            line-height:40px;
            display:inline;
            }        
        li.block {
            border-bottom:solid 1px @border-color;
            line-height:40px;
            display:block;
            margin-bottom:5px;
            }
        }
    }
.btn-dark {
	background:@bg-btn-dark;
	color:@font-white;
	height: 48px;
    line-height: 35px;
	width: 100%;
	 @media (max-width:768px) {
            margin-bottom:20px;
        }
	&:hover {
		background:@bg-btn-light;
        color:@font-white;
		}
	}
.btn-light {
	.btn-dark;
	background:@bg-btn-light;
	&:hover {
		background:@bg-btn-dark;
		color:@font-white;
		}
	}	
.btn-extra-light {
	.btn-dark;
	background:@bg-btn-extra-light;
	color:@bg-btn-dark;
	&:hover {
		background:@bg-btn-light;
		color:@font-white;
		}
	}		
/*Add new theme*/
	a.btn-add-theme {
	.btn-dark;
	background:#273c4f url("@{base-img-url}bg-btn-add.png") no-repeat;
	}

/******************************
*Latest Document
***********************************/
.latest-docs {
	
	.block-content {
		background:@bg-main-color;
		ul {
			list-style:none;
			margin:0;
			padding:15px;
			li {
				margin-bottom:5px;
				padding-bottom:5px;
				padding-left:5px;
				border-bottom:solid 1px @border-color;
				}
			}
		}
	}
/*Center Theme/Block List*/	
#col-left,
#col-center {
/*	padding-top:@padding-top15;
	padding-bottom:@padding-bottom15;*/
	}
#col-center {
	min-height:520px;
	}	
.item-wrap {
	margin-bottom:30px;

	.item {
		background:@bg-main-color;
		padding:15px;
		padding-top:0;
        min-height:340px;
		
		h3{
			border-bottom:solid 1px @border-color;			
			margin-top: 0;
			margin-bottom: @margin-bottom15;
			padding-bottom:@padding-bottom15;
			line-height: 40px;
			display: inline-block;
			width: 100%;
			float: left;
			}
		}	
		ul {
			list-style:none;
			margin:0;
			padding:0;
			li {
				margin-bottom:5px;
				padding-bottom:5px;
				padding-left:5px;
				border-bottom:solid 1px @border-color;
				}
			}
}
.form-wrap {
    background: @bg-main-color;
	form {
		/*margin: 20px auto;
		width:80%;*/
		}
}
/****************************************
	Main Document Block                */
/***************************************/
.block-main-docs {
	background:@off-button-blue-bg-color;
	color:@font-white;
	padding:20px;
	padding-bottom:48px;
	position:relative;
	text-align:center;
	h3.title {
		margin-top:0;
		}
	.block-content {
	>div {
		margin-bottom:20px;
		}
	.img-wrap {
		.circle;
		background:@bg-picto-document-color;
		}	
	.desc {
		text-align:left;
		}	
	.options li {
		display:inline-block;
		a{
			background: url('@{base-img-url}bg-main-doc-options.png') no-repeat;
			display:inline-block;
			float:left;
			height:40px;
			margin-right:10px;
			width:40px;
			text-indent:-999em;
			&:hover {
			background-position:0 -40px;
				}
			}
		a.link-download {
			background-position:0 0;
			&:hover {
			background-position:0 -40px;
				}
			}
		a.link-mail {
			background-position:-52px 0;
			&:hover {
			background-position:-52px -40px;
				}
			}
		a.link-attachment {
			background-position:-104px 0;
			&:hover {
			background-position:-104px -40px;
				}
			}			
		}
	.link-follow {
		background:@font-white url('@{base-img-url}btn-doc-follow.png') no-repeat;
		color:@bg-picto-document-color;
	    height: 48px;
		width: 100%;
		display: block;
		line-height: 48px;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		&:hover {text-decoration:none;}
		}
	.link-unfollow {
		.link-follow;
		background-color:@bg-picto-document-color;
		background-position:0 -48px;
		color:@font-white;
		}
      .bottom {
    background:@bg-picto-document-color;
    line-height: 48px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
      }  	
textarea.form-control {
    height: auto;
    background: none;
    border-color: ;
    color: @font-white;
        }
input#documentName {
    background: none;
    border: none;
    color: #fff;
        }        	
    }		
}



.image-upload {
 input {
    display: none;
    }
.image-upload img {
    width: 80px;
    cursor: pointer;
    }    
}



/****************************************
	WG User List Block                */
/***************************************/	
.block-user-list {
	.title {
		background: url('@{base-img-url}/icons/icon-users-blue.png') no-repeat;
		color:#222;
		font-size:12px;
		margin:0 5px 20px;
		padding-left:50px;
		.wg-name {
			color:@bg-picto-document-color;
			font-size:18px;
			}
		}
	.block-content {
		.bg-main;
		padding:20px 20px 0;
		}
		.wg-userlist {
			
		ul {list-style:none;
		padding:0;
		
		li {
			display:inline-block;
			text-align:center;
			margin-bottom:15px;
			margin-right:15px;
			>span {
				display:block;
				}
			.img-wrap {
				.circle(40px);
				}
			}
		}
	}		
}
/****************************************
	Associate Docs List Block          */
/***************************************/
.block-secondary-docslist {
	
	.block-content {
		.bg-main;
		ul {
			list-style:none;
			padding:0 10px;
            li {
                border-bottom: solid 1px @border-color;
                .link-delete {
                    .icon;
                    background: url('@{base-img-url}/bg-icon-remove.png') no-repeat;
                    width:16px;
                    height:16px;
                    margin-top:15px;
                 &:hover {
                 background-position: 0 -17px;
                    }   
                }
            }               
        }
    }
.link-add {
    .icon;
    background: url('@{base-img-url}/bg-icon-more.png') no-repeat;
    margin-top:10px;
    &:hover {
        opacity:0.9;
    }
    }
.view-all {
    .link-add;
    background-position:-32px 0;
}        
}					



/****************************************
*               Custom icons           */
/***************************************/
// icon size for mobile
@icon-width:48px;
// icon size for desktops
@media (min-width: @smalldevice-breakpoint) {
    @icon-width:28px;
}

.iconmcdd {
    display: block;
    width: @icon-width;
    height: @icon-width;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

// icon images for mobile
.icon-envelop {
    background: url("/assets/img/icons/envelop_big.png");
}
.icon-arrow-right {
    background: url("/assets/img/icons/arrow_right_big.png");
}
.icon-points {
    background: url("/assets/img/icons/points_big.png");
}
.icon-add {
    background: url("/assets/img/icons/add_big.png");
}
.icon-post {
    background: url("/assets/img/icons/post_big.png");
}

// icon images for desktops
@media (min-width: @smalldevice-breakpoint) {
    .icon-envelop {
         background: url("/assets/img/icons/envelop.png");
     }
    .icon-arrow-right {
        background: url("/assets/img/icons/arrow_right.png");
    }
    .icon-points {
        background: url("/assets/img/icons/points.png");
    }
    .icon-add {
        background: url("/assets/img/icons/add.png");
    }
    .icon-post {
        background: url("/assets/img/icons/post.png");
    }
}

/******************************************
* Center Area common classes
*******************************************/
ul,
ul.options {
    padding:0;
li.inline {display:inline;}
li.block {display:block;}
}


/****************************************
*               Topic page             */
/***************************************/
.topic-page {
    .topic-resume {
        background-color: @off-button-blue-bg-color;
        .topic-name {
            padding: 10px;
            color:@font-white;
            font-size: 14pt;
            text-align: center;
        }
        .document-type {
            padding: 10px;
            text-align: center;
        }
        .topic-description {
            padding: 10px 20px 10px 20px;
            font-size: @font-darkblue;
            font-size: 12pt;
        }
        .topic-actions1 {
            height: 70px;
            padding: 10px;
            text-align: center;
            span {
                display: block;
                float: left;
                width: 33%;
                height: 50px;
                cursor: pointer;
            }
            span.download {
                background: url('/assets/img/icons/download_bgblue.png') no-repeat center center;
            }
            span.download:hover {
                background: url('/assets/img/icons/download_bgblue_on.png') no-repeat center center;
            }
            span.envelop {
                background: url('/assets/img/icons/envelop_bgblue.png') no-repeat center center;
            }
            span.envelop:hover {
                background: url('/assets/img/icons/envelop_bgblue_on.png') no-repeat center center;
            }
            span.add {
                background: url('/assets/img/icons/add_bgblue.png') no-repeat center center;
            }
            span.add:hover {
                background: url('/assets/img/icons/add_bgblue_on.png') no-repeat center center;
            }

        }
        .topic-actions2 {
            cursor: pointer;
            height: 50px;
            background-color: @background-white;
            color:@font-darkblue ;
            padding: 10px;
            span.text-center {
                display: block;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 171px;
            }
            span.follow-icon {
                width: 25px;
                height: 25px;
                display: block;
                float: left;
                background: url('/assets/img/icons/star_small.png') no-repeat center center;
            }
            span.follow-text {
                height: 25px;
                display: block;
                float: left;
                padding: 4px 0 0 6px;
            }
        }
        .topic-actions2.followed {

            background-color: @bg-picto-document-color;
            color:@font-white;
            span.follow-icon {
                background: url('/assets/img/icons/star_small_on.png') no-repeat center center;
            }
            span.text-center {
                width: 140px;
            }
        }
    }
    .action-list {
        margin-top: 3px;
        height: @icon-width;
    }
    .topic-members {
        margin-top:20px;
        color: @font-darkgrey;
        .staff-list {
            padding: 10px;
            background-color:@background-white;

        }
    }
    .topic-secondary-documents {
        margin-top:20px;
        color: @font-darkgrey;
        .document-list {
            padding: 10px;
            background-color:@background-white;
        }
    }
    .verioning {
        margin-top:20px;
        color: @font-darkgrey;
        color: @font-darkgrey;
        .verioning-list {
            padding: 10px;
            background-color:@background-white;
        }
    }
    .agenda {
        margin-top:20px;
        color: @font-darkgrey;
        .calendar {
            padding: 10px;
            background-color:@background-white;

        }
    }

    .forum-area {

        .avatar-area{
            height: 100%;
            .vertical-line-middle {
                width: 70px;
                height: 170px;
            }
            .avatar {
                height: 40px;
                width: 40px;
                margin-top:30px;
            }
        }
        .avatar-name {
            margin-top:42px;
            font-weight: bold;
        }

        .new-post-area {
            background-color: @background-white;
            height: 100%;
            .fill-area {
                padding: 15px 30px 15px 0;
                .new-post_field {
                    background-color: @background-field;
                    width: 100%;
                    height: 80px;
                    padding: 15px;
                    border: none;
                }
                .center {
                    width: 250px;
                    margin-top:8px;
                }
                .newpost-button {
                    background-color: @button-red;
                    color: @font-white;
                    width:250px;
                    padding: 10px;
                    img {
                        margin-left:10px;
                    }
                }
                .newpost-button:hover {
                    background-color: @button-red-hover;
                }
            }

        }

        .day-of-post {
            padding: 20px;
        }
        .posts-of-day {
            background-color: @background-white;
            margin-top:10px;
            .infos-date {
                display: block;
                width:90px;
                font-weight: normal;
                color:@off-button-white-bg-color;
            }
            .vertical-line-middle {
                width: 70px;
                height: 100%;
            }
            .content {
                padding: 20px 10px;
                min-height: 150px;
            }
            .post.lvl0 {
                height:150px;
            }
            .post.lvl1 {
                height:150px;
                .avatar-name {
                    margin-top: 10px;
                }
            }
        }

    }

}


/****************************************
*            Notifications             */
/***************************************/


.notification-area {
    li a{color:#333333;text-decoration:none}
    li a:hover{color:#006699;text-decoration:none}

    #notification_li{position:relative}
    #notificationContainer {
        background-color: @bg-picto-document-color;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 60px;
        right: 0;
        width: 280px;
        z-index: -1;
        display: none;
    }
    #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent @on-button-color;
        margin-top: -20px;
        margin-left: 120px;
        @media (max-width: 768px) {
            margin-left: 164px;
        };
        @media (max-width: 480px) {
            margin-left: 174px;
        };

    }
    #notificationTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
        background-color: @on-button-color;
        color:@navbar-bordercolor;
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }
    #notificationsBody {
        padding: 0 !important;
        min-height:300px;
        color:@navbar-bordercolor;
    }
    #notificationFooter {
        background-color: @on-button-color;
        color:@navbar-bordercolor;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        font-size: 12px;
        border-top: 1px solid #dddddd;
    }
    .notification-list {
        list-style:none;margin: 0px;
        padding: 0px;
        li {
            padding: 10px;
            align-content: left;
            background-color: @i-dont-know2-color;
            color: @off-button-white-bg-color;
        }
        li.unread {
            background-color: @i-dont-know1-color;
            color: @font-color;
        }
        li:hover {
            color:@font-white;
        }
    }
}
/***************************************************
*   User List Page
***************************************************/
#userProfile {padding:10px;}
.extra-menu a.btn {
	display:block;
	text-align:left;	
}
/***********************************************
*  Title Icon Big 
*************************************************/
/*********************************************
*   List Topic Page
*********************************************/
.tolic-list-wrap {
.item{
    /*padding-top:15px;*/
    padding-bottom:15px;
}
    .options{
        .inline {
            display:inline-block;
            float:left;
            margin-right:2px;
            height: 35px;
            width:35px;
            text-align:center;
            background:#f1f1f1;
            .download {
            background: url('@{base-img-url}bg-icon-download.png') no-repeat;
            height: 18px;
            margin-top: 10px;
            margin-left: 5px;
            &:hover {
                background-position: 0 -19px;

            }
            }
            .icon-md {
                color:#abbac9;
            &:hover {color:#253c52;}    
            }
        }
    }
    .topic-name {color:@bg-picto-document-color;}
    .topic-desc { color: #999;}
    .post-count {
        background: #f1f1f1;
        width: auto;
        margin-right: 15px;
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 1.2em;
    }       
}
/*********************************************
*   Create Theme Page
*********************************************/
.link-download {
    .hide-text;
    background: url('@{base-img-url}bg-icon-download.png') no-repeat;
    height: 18px;
    margin-top: 10px;
    margin-left: 5px;
    width:25px;
    &:hover {
        background-position: 0 -19px;
    }
} 
/*****************************************
* Create Poll Page
*******************************************/
ol.adpt_inputs_list {
    padding: 0;
}
/***************************************
*   SEARCH RESULT PAGE
*****************************************/
.search-result-wrap
.keywords span {
    margin-top: 10px;
    margin-bottom: 10px;
}
.keywords>h5 {
    padding-left:0;
}
span.na {
    display: block;
}
.search-result-wrap .theme {
    font-weight:bold;
}
/*****************************************
*   POLL 
******************************************/
.latest-poll {
h4.title {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 5px;
}

.vote_count {
    font-weight:bold;
}

}
/**************************************
* Main Document versioning List
***************************************/
.versioning-list {
    color:@bg-picto-document-color;
    .date {
        background: url('@{base-img-url}bg-separator-hr.png') center center no-repeat;
        line-height:42px;
        text-align:center;
        color:@bg-picto-document-color;
        font-weight:bold;
        }
    .name {
        background:@bg-picto-document-color;
        color:@font-white;
        /*width:320px;*/
        .align-center;
        line-height:42px;
    }            
    .download {
        background: url('@{base-img-url}icons/download.png') center center no-repeat;
        }
    .mail {
        background: url('@{base-img-url}icons/envelop.png') center center no-repeat;
        }        
}

/*********************************************
*		CATEGORY FILTER
**********************************************/
div.tree-multiselect {
    border: none;
    border-radius: 0px;
    display: table;
    height: inherit;
    width: 100%;
	
	div.selections {
	    border-right:none;

		div.title {
			background:@bg-picto-document-color;

			span.collapse-section {
				font-size:20px;
				margin-right:15px;
			}
		}
	}
}
/*******************************************
*  ONLY FOR CHECKBOX + RADIO BUTTONS
********************************************/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/********EOF Check box + Radio CSS*****************************/

.panel-primary {
    border-color: @bg-picto-document-color;
}
.panel-primary>.panel-heading {
	background: @bg-picto-document-color;	
	}
.panel-red {
    border-color: @background-red-bright;
}
.panel-red>.panel-heading {
	background: @background-red-bright;	
	}
.panel-yellow {
    border-color: @background-yellow-bright;
}
.panel-yellow>.panel-heading {
	background: @background-yellow-bright;	
	}
.bg-white {background:@background-white;}
.bg-black {background:@background-black;}	
.bg-gray {background:@background-gray;}	
.bg-red-dark {background:@background-red-dark;}	
.bg-red-bright {background:@background-red-bright;}
.bg-yellow-dark {background:@background-yellow-dark;}
.bg-yellow-bright {background:@background-yellow-bright;}
.bg-blue {background:@background-blue;}

.btn-primary {
    background-color:@background-yellow-dark;
    border-color:@background-yellow-dark;    
    color: #fff;
}
.btn-primary:hover {
    background-color:@background-yellow-bright;
    border-color:@background-yellow-bright;
    color: #fff;
}
.ic-user {
    color: @background-yellow-dark;
    margin-top: 10px;
}
